<!DOCTYPE html>
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <link href="css/estiloRegistro.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>       
        <form action="#" class="form">
            <h2>Registro</h2>
            <br/>
            <p class="form_paragraph">¿Deseas regresar?<a href="IniciarSesion.html" class="form_link">   Regresar</a></p>
            <br/>
            <br/>
            <label>Nombre: </label>
            <img src="imagenes/Usuario icono.jpg" alt="Usuario" width="20"/>
            <input placeholder="Digite su nombre" type="text" name="nombre" value="" size="20" />
            <br>
            <br>
            <label>Telefono: </label>
            <img src="imagenes/Telefono icono.jpg" alt="Telefono" width="20"/>
            <input placeholder="Digite su telefono" type="text" name="telefono" value="" size="20" />
            <br>
            <br>
            <label>Correo: </label>
            <img src="imagenes/Correo icono.jpg" alt="Correo" width="20"/>
            <input placeholder="Digite su correo" type="text" name="correo" value="" />
            <br>
            <br>
            <label>Contraseña: </label>
            <img src="imagenes/Contraseña icono.jpg" alt="Contraseña" width="20"/>
            <input placeholder="Digite su contraseña" type="text" name="contraseña" value="" />
            <br>
            <br>
            <br>
            <input class="registro" type="submit" value="Confirmar" name="Confirmar"/>
            <br/>
            <br/>
            <input class="cancelar" type="submit" value="Cancelar" name="Cancelar"/>
            <br/>
            <br/>
            <footer id="piePagina">
            Derechos reservados &COPY; 2023<address>Heredia, Heredia</address> 
            </footer>
        </form>
        
    </body>
</html>