<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="​Got a project?
              Let’s talk">
        <meta name="description" content="">
        <title>Comprar Entradas</title>
        <link href="../css/compraentradas.css" rel="stylesheet" type="text/css"/>
        <link href="../css/intlTelInput.css" rel="stylesheet" type="text/css"/>
        <link href="../css/nicepage.css" rel="stylesheet" type="text/css"/>
        <script src="../js/entradas/intlTelInput.min.js" type="text/javascript"></script>
        <script src="../js/entradas/jquery.js" type="text/javascript"></script>
        <script src="../js/entradas/nicepage.js" type="text/javascript"></script>
        <script src="../js/entradas/utils.js" type="text/javascript"></script>
        <meta name="theme-color" content="#478ac9">
        <meta property="og:title" content="compraentradas">
        <meta property="og:type" content="website">
        <meta data-intl-tel-input-cdn-path="intlTelInput/">
    </head>
    <body class="u-body u-xl-mode" data-lang="es">
        <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-2643">
            <div class="u-clearfix u-sheet u-sheet-1">
                <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                    <div class="u-custom-menu u-nav-container">
                        <ul class="u-nav u-unstyled u-nav-1">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="index.html" style="padding: 10px 20px;">Home</a></li>
                        </ul>
                    </div>
                    <div class="u-custom-menu u-nav-container-collapse">
                        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                            <div class="u-inner-container-layout u-sidenav-overflow">
                                <div class="u-menu-close"></div>
                                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="index.html">Home</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                    </div>
                </nav>
            </div>
        </header>
        <section class="u-clearfix u-container-align-center u-uploaded-video u-video u-section-1" id="sec-659d">
            <div class="u-background-video u-expanded" style="">
                <div class="embed-responsive">
                    <video class="embed-responsive-item" data-autoplay="1" loop="" muted="1" autoplay="autoplay" playsinline="">
                        <source src="../imagenes/videos/coldplay-viva-la-vida-live-in-sao-paulo_Cewml9uE.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="u-clearfix u-sheet u-sheet-1">
                <h2 class="u-align-center u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"> Preparado? <br>Hagamoslo Ahora
                </h2>
                <p class="u-align-center u-text u-text-grey-15 u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Ante cualquier duda o consulta, se presenta la sección de ayuda al cliente o nos pueden escribir a nuestros numeros para mayor atención<br>
                </p>
                <a th:href="ayuda.html" class="u-active-white u-align-center u-border-1 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-2 u-text-active-black u-text-hover-black u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Ayuda</a>
            </div>
        </section>
        <section class="u-align-center u-clearfix u-expanded-width-xl u-palette-5-dark-3 u-section-2" id="sec-e9df">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                    <div class="u-gutter-0 u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-27-lg u-size-27-md u-size-27-sm u-size-27-xs u-size-30-xl u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <h4 class="u-align-left u-text u-text-1">Para más información, quedan los siguientes datos y redes sociales</h4>
                                    <p class="u-align-left u-text u-text-2">
                                        <span style="font-weight: 700;">Ubicación:</span> SAN JOSE, COSTA RICA <br>
                                        <span style="font-weight: 700;">Telefono:</span> +506 2222-2222 <br>
                                        <span style="font-weight: 700;">Horarios:</span> 8:00 am – 5:00 am<br>
                                    </p>
                                    <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                        <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/backstagemagazinecr/">
                                            <span class="u-icon u-social-facebook u-social-icon u-text-palette-2-base u-icon-1">
                                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8606"></use>
                                                </svg>
                                                <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8606">
                                                <path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/backstagemcr?lang=en">
                                            <span class="u-icon u-social-icon u-social-twitter u-text-palette-2-base u-icon-2">
                                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b13c"></use>
                                                </svg>
                                                <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-b13c">
                                                <path fill="currentColor" d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/backstagemagazinecr/?hl=en">
                                            <span class="u-icon u-social-icon u-social-instagram u-text-palette-2-base u-icon-3">
                                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style="">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cfdc"></use>
                                                </svg>
                                                <svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-cfdc">
                                                <path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9zc0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-custom-color-1 u-layout-cell u-shape-rectangle u-size-30-xl u-size-33-lg u-size-33-md u-size-33-sm u-size-33-xs u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <div class="u-form u-form-1">
                                        <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 0px;" source="email" name="form">
                                            <div class="u-form-group u-form-name">
                                                <label for="name-3b9a" class="u-form-control-hidden u-label">Name</label>
                                                <input type="text" placeholder="Nombre" id="name-3b9a" name="name" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-1" required="" wfd-id="id108">
                                            </div>
                                            <div class="u-form-email u-form-group">
                                                <label for="email-3b9a" class="u-form-control-hidden u-label">Email</label>
                                                <input type="email" placeholder="Email" id="email-3b9a" name="email" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-2" required="" wfd-id="id109">
                                            </div>
                                            <div class="u-form-group u-form-group-3">
                                                <label for="text-160a" class="u-form-control-hidden u-label">Telefono</label>
                                                <input type="text" id="text-160a" name="text" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-3" placeholder="Telefono" wfd-id="id110">
                                            </div>
                                            <div class="u-form-group">
                                                <label for="message-3b9a" class="u-form-control-hidden u-label">Cantidad de entradas</label>
                                                <input placeholder="Cantidad de entradas" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-input u-input-rectangle u-input-4" required="required" type="text">
                                            </div>
                                            <div class="u-align-center u-form-group u-form-submit">
                                                <a href="carrito/listado" class="u-active-palette-2-light-3 u-border-none u-btn u-btn-submit u-button-style u-hover-palette-2-light-3 u-text-active-black u-text-black u-text-hover-black u-white u-btn-1"></a>
                                                <input type="submit" value="submit" class="u-form-control-hidden" wfd-id="id111">
                                            </div>
                                            <!--<div class="u-form-send-message u-form-send-success"> ¡GRACIAS POR SU COMPRA! </div>-->
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                                            <input type="hidden" value="" name="recaptchaResponse" wfd-id="id112">
                                            <input type="hidden" name="formServices" value="a807bd42fce11cbde20d798265c003c7">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>